title {
  font-family: "Times New Roman", Times, serif;
}

p.outset {
  border-style: outset;
}

form.submit{
  background-color: lightblue;
}

body {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}